html, body { height: 100% }

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: calc(100% - 1rem);
  max-width: 23rem;
  margin-top: 2rem;
  > * + * { margin-top: 2rem }
}

button {
  width: 100%;
  padding: .5rem;
  font-size: 14px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid black;
  &:not(:disabled) {
    &:hover, &:active { background-color: #ffeaea }
  }
  &:disabled { opacity: .3 }
}

dialog {
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255 255 255 / .75);
  &[open] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  margin-top: auto;
  padding: 1rem;
  font-size: 12px;
  a { color: black }
}

.deck {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  height: 6rem;
  background-color: #ffc0c0;
  border-radius: 1rem;
  padding: .5rem;
}

.card {
  position: relative;
  margin: auto;
  aspect-ratio: 2/3;
  width: 3rem;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  border-radius: .375rem;
  display: flex;
  flex-direction: column;
  padding: .2rem;
  color: black;
  &.diamonds, &.hearts { color: red }
  &:not(.face-down) > .card-back { opacity: 0 }
  @media (min-width: 368px) { width: 3.5rem }
}

.card-back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - .4rem);
  width: calc(100% - .4rem);
  background-color: red;
  border-radius: inherit;
}

.card-rank {
  margin: auto;
  font-weight: bold;
  font-size: 36px;
}

.suit { width: 14px }

.suit-top { align-self: flex-start }

.suit-bottom { align-self: flex-end }

.info {
  font-size: 14px;
  > * + * { margin-top: .5rem }
}

.info-value {
  display: block;
  font-weight: bold;
}

.action-btn {
  border: solid 1px black;
  box-shadow: 0 1px 0 black;
  &:not(:disabled) {
    &:active {
      box-shadow: none;
      transform: translateY(1px);
    }
  }
}

.dialog-content {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  border-radius: .5rem;
}

#game-info {
  > * + * { margin-top: 1.5rem }
}

#action-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
}

#actions { width: 100% }

#actions > form {
  display: flex;
  align-items: center;
  gap: 1rem;
  > * { width: 100% }
}

#play-btn, #play-again-btn { width: 12rem }

#game-result {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

#action-btns {
  > * + * { margin-top: .5rem }
}
